@import "variables.css";
@import "screen.css";
@import "introduce-box.css";
@import "others-box.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background: var(--insta-mood-gradient);
  height: 100vh;
}

.hidden {
  visibility: hidden;
  opacity: 1;
}

@keyframes fadeIn {
  from {
  }
  to {
    transform: none;
  }
}
